@font-face {
    font-family: 'amaranteregular';
    src: url('amarante-regular-webfont.woff2') format('woff2'),
        url('amarante-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'krona_oneregular';
    src: url('kronaone-regular-webfont.woff2') format('woff2'),
        url('kronaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spinnakerregular';
    src: url('spinnaker-regular-webfont.woff2') format('woff2'),
        url('spinnaker-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yatra_oneregular';
    src: url('yatraone-regular-webfont.woff2') format('woff2'),
        url('yatraone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'krona_oneregular';
    margin-left: 10%;
    margin-right: 20%;
    padding: 0;
    height: 100%;
    max-height: 100%;
    line-height: 1.5em;
    /* background-image: linear-gradient(#ffbccb, #18c300); */
    background-image: linear-gradient(#ffbccb, #8af47b);
    max-width: 650px;
}
main {
    top: 0;
    left: 0%;
    right: 0%;
    bottom: 0;
    overflow: auto;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    padding-left: 25px;
    list-style-type: circle;
}
/* li:before {
    content: "—";
    padding-left: 0px;
    left: 0;
    position: absolute;
    font-family: 'amaranteregular';
} */
a {
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}
/*IE6 fix*/
* html body {
    padding: 0 0 0 10px;
}
* html main {
    height: 100%;
    width: 50%;
}
p, h1, h2, h3 {
    margin-left: 2%;
}
h1, h2, h3 {
    font-family: 'amaranteregular';
}
h2 {
    margin-top: 45px;
    line-height: 28px;
}
h1 a, .menu div a {
    border-bottom: 0;
}
.menu {
    position: absolute;
    right: 20px;
    top: 20px;
}
.intro, h2 {
    padding-left: 10%;
}
.banner {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.lexiquni ul li:before {
    content: "→ ";
}
.titre-lexiquni {

}
.alphabet {
    position: fixed;
    top: 70px;
    right: 20%;
    background-color: white;
    padding: 5px 7px 2px 7px;
    border-radius: 10px;
}
.alphabet a {
    border: 0;
}
.lettre-alphabet {
    padding-top: 20px;
}

@media only screen and (max-width: 480px) {
    .menu {
        position: relative;
        right: 0;
        top: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }
    .alphabet {
        position: fixed;
        top: 70px;
        right: 5%;
        width: 50%;
    }
}
